/* Define Pallete */
:root {
    --light:#F2E9E4;
    --midLight:#C9ADA7;
    --mid:#9A8C98;
    --midDark:#4A4E69;
    --dark:#22223B;
    --accent:#FFCDB2;
}

/* Header & Navbar */
header {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 45px;
    padding-left: 0px;
  }

.navbar-dark { 
    background-color: var(--dark);
  }

.nav-link {
  color: var(--light);
}

a.navbar-brand{
    color: var(--accent);
    padding-left: 10px;
}

.nav.nav-link {
    color: white;
}

/* .navbar-brand {
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 80px;
  } */

/* Carousel */
.carousel-item {
    height: 32rem;
    background: var(--light);
  }

/* BODY STYLE */
body {
    background-color: white;
  }