/* Define Pallete */
:root {
    --light:#F2E9E4;
    --midLight:#C9ADA7;
    --mid:#9A8C98;
    --midDark:#4A4E69;
    --dark:#22223B;
    --accent:#BDF2D8;
}

.container-fluid {
  padding-top: 10vmin;
  padding-bottom: 10vmin;
}

/* ------------ header ----------- */
header {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 45px;
  padding-left: 0px;
}

/* -------------- Nav ------------- */
.navbar-dark { 
  background-color: var(--dark);
  color:var(--light)
}

.nav-link {
  color: var(--light);
}

a.navbar-brand{
    color: var(--accent);
    padding-left: 10px;
}

.nav.nav-link {
    color: white;
}

/* ----------- Carousel ----------- */
.carousel-item {
  height: 50vmin;
  background: var(--light);
}

/* -------------- Bio ------------- */
#bio-title {
  color: var(--dark);
  text-align: center;
}

/* ---------- Experience ---------- */
#experience {
  background-color: var(--light);
}

#experience-title {
  color:var(--midDark);
  text-align: center;
}

/* ----------- Projects ----------- */
#projects {
  background-color: var(--accent);
}

#projects-title {
  color: var(--dark);
  text-align: center;
}

/* ------------ Contact ----------- */
#contact {
  background-color: #444;
  text:white;
}

#contact-title {
  text-align: center;
}

.light-text {
  color: #F2E9E4;
}

.fa:hover {
  opacity: 0.7;
}

.fa {
  color: white;
}
